.header {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-bar {
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	outline: none;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon {
	width: 24px; /* Adjust width as needed */
	height: 24px; /* Adjust height as needed */
  }
  
  @media (max-width: 600px) {
    .search-bar {

		width: auto;
    }
}