.header {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-bar {
	margin-left: 100px;
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
	outline: none;
}

.search-icon {
	width: 24px; /* Adjust width as needed */
	height: 24px; /* Adjust height as needed */
  }
  
  @media (max-width: 600px) {
    .search-bar {
        margin-left: 120px;
		width: 190px;
    }
}