.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .grid-item {
    flex: 1;
    padding: 0 10px;
    grid-template-columns: 30% 30% 30%;
    margin: 20px 0;
  }
  
  .grid-item .form-group {
    margin-bottom: 0;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
  }
  
  .custom-modal .modal-content {
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .custom-modal .modal-header {
    background-color: #DCC4AB;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .custom-modal .modal-title {
    font-weight: bold;
  }
  
  .custom-modal .modal-body {
    font-size: 1.1em;
  }
  
  .custom-modal .modal-footer {
    background-color: #f1f1f1;
  }
  
  .custom-modal .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  #calc-btn {
    background-color: #DCC4AB; /* Custom primary color */
    border-color: #DCC4AB;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  #calc-btn:hover {
    background-color: #593C2A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #calc-btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  