.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

.upIcon {
    width: 24px;
}

#scrollToTopBtn {
    display: none;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #DCC4AB;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    display: block; /* Make sure it's displayed when visible */
}

#scrollToTopBtn:hover {
    background-color: #555;
}
