/* App.css */

.app-container {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.sidebar {
	width: 200px;
	padding: 20px;
	position: fixed;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
}

.main-content {
	flex-grow: 1;
	background-color: #fff;
	padding: 20px;
	flex-grow: 1;
	transition: margin-left 0.3s ease-in-out;
}

.sidebar.open + .main-content {
	margin-left: 250px;
}

.header {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-list {
	margin-top: 20px;
	padding: 50px;
}

.button {
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	background: #dcc4b6;
	border-radius: 30px;
}

.button:hover {
	background-color: #593c2a;
}

.table-header {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid #e0e0e0;
}

.sidebar {
	width: 250px;
	position: fixed;
	height: 100vh;
}

@media (max-width: 600px) {
	.product-list {
		width: 320px;
		padding-right: 10px;
		padding: 0px;
	}
}

/* Add additional styling as needed */
